@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/global.css */

/* styles/global.css */

/* Applica lo stile quando il dispositivo è in modalità landscape */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Imposta il box model di tutti gli elementi a border-box */
*, *:before, *:after {
  box-sizing: border-box;
}

/* Rimuovi la selezione di testo */
body {
  user-select: none;
}

/* Aggiungi stili di reset per i link */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Configura il meta viewport per la risposta al dispositivo */
/* styles/globals.css */
html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  color: #333;
}

/* globals.css o stili direttamente nel componente Subentri */

  
@media (max-width: 767px) {
    /* Stili per dispositivi con larghezza massima di 767px */
    #home {
      display: flex;
      align-items: center;
      justify-content: center;
      
      height: 100vh; /* Imposta l'altezza della sezione al 100% della viewport height */
    }
    
  
    

    /* Aggiungi questa regola CSS */
.iframe-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%; /* Imposta l'aspect ratio della mappa (9:16) */
  }
  
  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  
  }